* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efeff1;
}

#container {
  font-family: Arial, sans-serif;
  display: grid;
  height: 100vh;
  background-color: #f4f4f4;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

main {
  grid-area: main;
  background-color: #ecf0f1;
  padding: 40px;
  overflow-y: auto;
  text-align: center;
}

header {
  grid-area: header;
  background-color: #34495e;
  color: white;
  text-align: center;
  height: 60px;
  padding: 10px 0;
}

footer {
  grid-area: footer;
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

nav {
  grid-area: nav;
  color: white;
  background-color: #2c3e50;
  padding: 10px 5px 5px 5px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list li {
  display: inline-block;
}

.nav-list li::after {
  content: " | ";
  margin: 0 4px;
}

.nav-list li:last-child::after {
  content: "";
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid #555657;
}

button[type="submit"],
button[type="button"] {
  background-color: #797a79;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0px 1px 0px 1px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #4f504f;
}

button[type="submit"] {
  margin-top: 20px;
}

button[type="button"] {
  margin-top: 20px;
  background-color: #797a79;
}

button[type="submit"]:disabled,
button[type="button"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}
