.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-inner {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 40%;
  min-width: 230px;
}

.popup-inner h2 {
  margin: 0;
}

.popup-inner div {
  color: #801c1c;
  padding-left: 5px;
}

.popup-inner textarea {
  width: 100%;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.popup-inner label {
  display: block;
  font-weight: 500;
}

.popup-inner input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.popup-inner button {
  float: right;
}